@CHARSET "ISO-8859-1";

.loading
    	{
            background: #FFFFFF;
            position: fixed;
            opacity: 0.8;
            filter: alpha(opacity= 60);
            top: 0; 
            left: 0; 
            z-index: 1000;
            display: none;
            text-align: center;
            height: 100%;
            width: 100%;
            vertical-align: middle;
        }
        
        
     
		#cssload-loader {
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			width: 150px;
		}
		#cssload-loader ul {
			margin: 0;
			list-style: none;
			width: 150px;
			height: 63px;
			position: relative;
			padding: 0;
			height: 10px;
		}
		#cssload-loader ul li {
			position: absolute;
			width: 10px;
			height: 0;
			/* background-color: rgb(0,0,0); */
			/*background-color: #27279a;*/
			background-color: #337e0a;
			bottom: 0;
			color: blue;
		}
		
		
		#cssload-loader li:nth-child(1) {
			left: 0;
			animation: cssload-sequence1 1.15s ease infinite 0;
				-o-animation: cssload-sequence1 1.15s ease infinite 0;
				-ms-animation: cssload-sequence1 1.15s ease infinite 0;
				-webkit-animation: cssload-sequence1 1.15s ease infinite 0;
				-moz-animation: cssload-sequence1 1.15s ease infinite 0;
		}
		#cssload-loader li:nth-child(2) {
			left: 15px;
			animation: cssload-sequence2 1.15s ease infinite 0.12s;
				-o-animation: cssload-sequence2 1.15s ease infinite 0.12s;
				-ms-animation: cssload-sequence2 1.15s ease infinite 0.12s;
				-webkit-animation: cssload-sequence2 1.15s ease infinite 0.12s;
				-moz-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		}
		#cssload-loader li:nth-child(3) {
			left: 29px;
			animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
				-o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
				-ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
				-webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
				-moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		}
		#cssload-loader li:nth-child(4) {
			left: 44px;
			animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
				-o-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
				-ms-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
				-webkit-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
				-moz-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		}
		#cssload-loader li:nth-child(5) {
			left: 58px;
			animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
				-o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
				-ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
				-webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
				-moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		}
		#cssload-loader li:nth-child(6) {
			left: 73px;
			animation: cssload-sequence2 1.15s ease infinite 0.58s;
				-o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
				-ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
				-webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
				-moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		}
		
		#cssload-loader li:nth-child(7) {
			left: 86px;
			animation: cssload-sequence2 1.15s ease infinite 0.71s;
				-o-animation: cssload-sequence2 1.15s ease infinite 0.71s;
				-ms-animation: cssload-sequence2 1.15s ease infinite 0.71s;
				-webkit-animation: cssload-sequence2 1.15s ease infinite 0.71s;
				-moz-animation: cssload-sequence2 1.15s ease infinite 0.71s;
		}
		
		#cssload-loader li:nth-child(8) {
			left: 97px;
			animation: cssload-sequence2 1.15s ease infinite 0.80s;
				-o-animation: cssload-sequence2 1.15s ease infinite 0.80s;
				-ms-animation: cssload-sequence2 1.15s ease infinite 0.80s;
				-webkit-animation: cssload-sequence2 1.15s ease infinite 0.80s;
				-moz-animation: cssload-sequence2 1.15s ease infinite 0.80s;
		}
		
		
		@keyframes cssload-sequence1 {
			0% {
				height: 10px;
			}
			50% {
				height: 49px;
			}
			100% {
				height: 10px;
			}
		}
		
		@-o-keyframes cssload-sequence1 {
			0% {
				height: 10px;
			}
			50% {
				height: 49px;
			}
			100% {
				height: 10px;
			}
		}
		
		@-ms-keyframes cssload-sequence1 {
			0% {
				height: 10px;
			}
			50% {
				height: 49px;
			}
			100% {
				height: 10px;
			}
		}
		
		@-webkit-keyframes cssload-sequence1 {
			0% {
				height: 10px;
			}
			50% {
				height: 49px;
			}
			100% {
				height: 10px;
			}
		}
		
		@-moz-keyframes cssload-sequence1 {
			0% {
				height: 10px;
			}
			50% {
				height: 49px;
			}
			100% {
				height: 10px;
			}
		}
		
		@keyframes cssload-sequence2 {
			0% {
				height: 19px;
			}
			50% {
				height: 63px;
			}
			100% {
				height: 19px;
			}
		}
		
		@-o-keyframes cssload-sequence2 {
			0% {
				height: 19px;
			}
			50% {
				height: 63px;
			}
			100% {
				height: 19px;
			}
		}
		
		@-ms-keyframes cssload-sequence2 {
			0% {
				height: 19px;
			}
			50% {
				height: 63px;
			}
			100% {
				height: 19px;
			}
		}
		
		@-webkit-keyframes cssload-sequence2 {
			0% {
				height: 19px;
			}
			50% {
				height: 63px;
			}
			100% {
				height: 19px;
			}
		}
		
		@-moz-keyframes cssload-sequence2 {
			0% {
				height: 19px;
			}
			50% {
				height: 63px;
			}
			100% {
				height: 19px;
			}
		}